<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Нове заняття</title>
    <script>
        (function() {
            try {
                var savedTheme = localStorage.getItem('theme');
                if (savedTheme === 'dark') {
                    document.documentElement.classList.add('dark');
                }
            } catch (e) {
            }
        })();
    </script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body class="light">

<div class="container small">

    <a href="/" class="back-btn">Назад</a>

    <div class="card">
        <h1 class="small">Створити нове заняття</h1>

        <form th:action="@{/teacher/lesson/create}" th:object="${lesson}" method="post">

            <label for="subject">Предмет</label>
            <input type="text" id="subject" th:field="*{subject}" required/>

            <label for="topic">Тема заняття</label>
            <input type="text" id="topic" th:field="*{topic}" />

            <button class="btn btn-primary" type="submit">Створити</button>

        </form>
    </div>

</div>

<script th:src="@{/js/app.js}"></script>
</body>
</html>
